
<div class="app-gallery">
 <div class="row m-0">
     <ng-container *ngIf="isLoding; else loading">
        <ng-container *ngFor="let of_image of dataImage">
            <div class="{{of_image.col}}" [@fadein]>
                <div class="box position-relative">
                    <img class="image-list" src="{{of_image.img}}" alt="">
                </div>
            </div>
         </ng-container>  
     </ng-container> 
 </div>
</div>

<ng-template #loading>
    <div class="col-12">
        <div class="h-100">
            <app-loader></app-loader>
        </div>
    </div>
</ng-template>

