<!-- <button [routerLink]="['/home']">Home</button>
<button [routerLink]="['/profile']">Home</button> -->

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid text-capitalize">
      <a class="navbar-brand fs-5 fw-normal" href="#">
        <img src="../assets/icon/logo.svg" alt="" width="40" height="40">
        {{title}}
      </a>
    </div>
  </nav>
 
  <div class="scrollTop p-1">
    <router-outlet></router-outlet>
  </div>


<nav class="navbar navbar-expand-lg position-fixed bottom-0 bg-danger w-100 pb-0 pt-0">
        <ul class="list-group list-group-horizontal w-100 text-center">
            <li class="list-group-item bg-transparent border-0 text-white fw-bold fs-5" *ngFor="let of_menu of _Menu"
             (click)="onRouter(of_menu)">
          <img src="{{of_menu.img}}" alt="">
        </li>
          </ul>
  </nav>
